// FKBD - Search

// Search Widget

.search-menu {
  input[type="text"] {
    box-shadow: none;
  }
  .search-input {
    border: 1px solid transparent;
    &:focus-within {
      outline: none;
    }
  }
  .search-menu-recent {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  .results {
    .search-result-topic .second-line {
      .discourse-tags .discourse-tag {
        .d-icon {
          margin-right: 4px;
        }
      }
    }
    .search-random-quick-tip {
      .tip-label.tip-clickable {
        border-radius: 4px;
      }
    }
  }
}
