html {
  box-sizing: border-box!important;
}

.topic-list-item, tbody, tr {
  border: none;
}

.topic-list, .topic-list-body, .topic-list-item, .main-link {
  display: flex;
  flex-direction: column;
}

.topic-list-item {
  .main-link {
    margin: 0.75rem 1.5rem;
    padding: 1rem 1.5rem;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #f2f2f2;
  }

  .author-line {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      gap: 0.5rem;

      .name-and-date {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
      }
    }
  }

  .topic-list-item-extras {
    display: flex;
    justify-content: space-between;

    .topic-list-item-tags {
      .discourse-tags {
        display: flex;
        gap: 0.5rem;

        .discourse-tag {
          width: 5rem;
          height: 1.5rem;
          border-radius: 0.25rem;
          background-color: #e0e0e0;
          color: #333333;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}