.topic-list, .topic-list-body, .topic-list-item {
  display: flex;
  flex-direction: column;
}

.topic-list-item {
  margin: 0.75rem 1.5rem;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #f2f2f2;

  .author-line {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;

      .name-and-date {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
      }
    }
  }
}