.category-breadcrumb {
  display: none;
}

#navigation-bar {
  li {
    &.nav-item_categories, &.nav-item_styleguide {
      display: none;
    }

    &.active a {
      background-color: red;
    }

    & a:hover {
      background-color: yellow;
    }
  }
}



.topic-list-item, tbody, tr {
  border: none;
}

.topic-list, .topic-list-body, .topic-list-item, .main-link {
  display: flex;
  flex-direction: column;
}

.topic-list-item {
  .main-link {
    margin: 0.75rem 0;
    padding: 0 1.5rem;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #f2f2f2;
  }

  .author-line {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      gap: 0.5rem;

      .name-and-date {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
      }
    }
  }

  .topic-list-item-extras {
    display: flex;
    justify-content: space-between;

    .topic-list-item-tags {
      .discourse-tags {
        display: flex;
        gap: 0.5rem;

        .discourse-tag {
          padding: 0.25rem 1rem;
          border-radius: 0.25rem;
          background-color: #e0e0e0;
          color: #333333;
          text-transform: capitalize;
          text-align: center;

          &:after {
            display: none;
          }
        }
      }
    }

    .topic-list-item-info {
      display: flex;
      gap: 1rem;

      a {
        width: auto;
        display: flex;
        gap: 0.25rem;
        align-items: center;
      }
    }
  }
}