// FKBC - Search

.search-container {
  .search-advanced {
    .search-info {
      background-color: transparent;
    }
  }
}

.search-results {
  box-sizing: border-box;
}

.fps-result {
  @include bg-br;
  padding: 1em 1em 1em 0.7em;
  margin-bottom: 1em;
  .topic {
    .bulk-select {
      left: 0;
      top: 0;
    }
  }
}
