// FKBC - Docs

.docs:not(.nav-item_docs) {
  padding: 0.5em;
  margin-bottom: 2em;
  .topic-list {
    .topic-list-body {
      display: table-row-group;
    }
    .topic-list-item {
      display: table-row;
    }
    .main-link {
      background: none;
      box-shadow: none;
      border-radius: 0;
      .link-bottom-line {
        padding: 0;
      }
    }
  }
  .topic-avatar {
    margin: 0 10px 0 0;
  }
  .topic-body {
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 0;
  }
}
