// FKBC - Badges

// Badges

.badge-wrapper.bullet {
  .badge-category-parent-bg {
    width: 9px;
    margin-right: 2px;
    border-radius: 50%;
    + .badge-category-bg {
      width: 9px;
    }
  }
  .badge-category-bg {
    border-radius: 50%;
  }
}

.badge-wrapper.box {
  height: max-content;
  span {
    padding: 0 0.15em;
    vertical-align: middle;
    svg {
      width: 0.8em !important;
      height: 0.8em !important;
    }
  }
}

p.favorite-count {
  margin: 0 0 20px 0;
}

.extra-info-wrapper {
  .badge-wrapper .d-icon {
    color: currentColor;
  }
}

.badge-card {
  @include bg-br;
}

.show-badge-details .badge-set-title {
  @include bg-br;
  .user-content {
    box-shadow: none;
  }
}
