// FKBC - Input

// Input Rounded - Focus

input,
select,
input[type] {
  outline: none !important;
  &:focus {
    @include fkb-focus;
  }
}

textarea {
  &:focus {
    outline: none !important;
  }
}

.d-editor-textarea-wrapper {
  outline: none !important;
  &.in-focus {
    @include fkb-focus;
  }
}

.d-date-input {
  .date-picker {
    outline: none !important;
    &:focus {
      @include fkb-focus;
    }
  }
}

// Select Rounded - Focus

.select-kit.single-select {
  .select-kit-filter {
    outline: none !important;
    border: none !important;
    &.is-expanded .select-kit-header:not(.btn),
    .select-kit-header:not(.btn):focus,
    .select-kit-header:not(.btn):active {
      @include fkb-focus;
    }
  }
}

.select-kit {
  .select-kit-header {
    &:not(.btn) {
      padding-left: 0.65em;
      padding-right: 0.65em;
    }
  }
  &.single-select {
    &.dropdown-select-box {
      &.is-expanded {
        .select-kit-collection,
        .select-kit-body {
          overflow: auto;
        }
      }
    }
  }
  &.multi-select {
    outline: none !important;
    .multi-select-header {
      outline: none !important;
      &.is-focused,
      &:focus {
        @include fkb-focus;
      }
    }
    &.is-expanded {
      .select-kit-body {
        overflow: auto;
      }
    }
  }
  &.is-expanded {
    .select-kit-wrapper {
      outline: none !important;
      .multi-select-header {
        @include fkb-focus;
      }
    }
    .select-kit-header {
      @include fkb-focus;
    }
    .select-kit-body {
      overflow: auto;
    }
  }
  &.combo-box {
    .select-kit-header {
      outline: none !important;
      &.is-focused {
        @include fkb-focus;
      }
    }
    &.category-drop,
    &.tag-drop {
      flex: 1 1 100%;
    }
  }
  &.is-highlighted {
    .select-kit-header {
      @include fkb-focus;
    }
  }
  &.dropdown-select-box {
    &.is-expanded {
      .select-kit-collection,
      .select-kit-body {
        overflow: auto;
      }
    }
  }
}
