// FKBC - Login

// Modal Login

.login-modal:not(.hidden) #login-form {
  .input-group {
    width: 100%;
  }
}

.d-modal {
  &.create-account,
  &.login-modal {
    .alert {
      margin: 0;
    }
  }
}

// Invite

.invites-show input {
  width: auto;
}

.invites-show .login-welcome-header {
  padding: 1em;
}

// Activate account page

#simple-container {
  background-color: transparent;
  @media screen and (max-width: 600px) {
    width: auto;
  }
  // Account page
  .account-created {
    .ac-page {
      .col-form {
        .mobile-view & {
          padding: 0.5em;
        }
        .activation-controls {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }
      }
    }
  }
}
