// FKBC - Topic

// Topic View


.post-notice{
  border-top: none;
}

.topic-map {
  section {
    border-top: none;
  }
}

.topic-above-footer-buttons-outlet.presence {
  .presence-users {
    background-color: transparent;
    margin: 5px;
  }
}

.extra-info h1 {
  font-size: 1.5em;
}

#topic-footer-buttons {
  padding: 0;
}

.topic-list-bottom {
  margin: 0;
}

.topic-status-info,
.topic-timer-info {
  border-top: none;
}

.small-action {
  .topic-avatar,
  .small-action-desc {
    border-top: none;
  }
  &.topic-post-visited {
    padding: 8px 0;
    .topic-post-visited-line {
      line-height: 0;
      .topic-post-visited-message {
        color: #ffffff;
      }
    }
  }
}

// Fast edit


// Topic post controls actions

.topic-post nav.post-controls {
  .actions {
    button {
      padding: 10px;
      max-height: 37px;
      &.no-text {
        max-width: 37px;
      }
      .d-icon,
      .d-button-label {
        pointer-events: none;
      }
    }
    .double-button {
      button.my-likes,
      button.read-indicator,
      button.regular-likes {
        .d-icon {
          padding-left: 15px;
        }
      }
      &:hover,
      &:focus {
        button.button-count {
          background: transparent;
        }
      }
      button.button-count {
        padding: 10px 5px 10px 10px;
        + .toggle-like,
        + .create-flag {
          padding: 10px;
        }
        &:active,
        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
    .extra-buttons {
      .accepted {
        .d-icon,
        .d-button-label {
          color: green;
        }
      }
    }
  }
  .replies-button-visible .show-replies,
  .show-replies {
    margin-right: 0.25em;
  }
}

.discourse-reactions-counter {
  padding: 0 10px 0 0;
  &.only-like .reactions-counter {
    padding-right: 5px;
  }
}

// Quote

aside.quote {
  .title {
    overflow: hidden;
  }
}

.quote-button {
  .btn {
    box-shadow: none !important;
  }
}

// Solved Quote

aside.quote.accepted-answer {
  > .title {
    padding: 12px;
    background: green;
    border: 3px solid green;
    color: #fff;
    border-bottom: 0;
    .fa.accepted {
      color: #fff;
    }
    span.by {
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
    .quote-controls .d-icon {
      color: #fff;
    }
  }
  > blockquote {
    border: 3px solid green;
  }
}

// Solved

.post-controls .extra-buttons .accepted-text {
  margin-left: 3px;
  margin-right: 0.25em;
  padding: 9px 10px;
  span {
    padding: 7px 1px;
  }
}

// No answer popup

.topic-navigation-outlet.no-answer {
  .topic-navigation-popup {
    padding: 1em;
    p {
      margin-bottom: 0;
    }
  }
}

// Modal Invite & Share & Bookmark

.invites-show {
  #modal-alert {
    margin: 0;
  }
}

// Share Panel and Invite inputs

.link-share-container {
  input {
    &:focus+button {
      outline: none;
    }
  }
}

.link-share-actions .alt-actions {
  width: 100%;
  button {
    width: 100%;
  }
}

.bookmark-with-reminder.modal .modal-body {
  width: 100%;
}

.modal.history-modal {
  img {
    max-width: 100%;
  }
}

// Youtube-thumb

.ytp-thumbnail-image {
  height: 100% !important;
}

// Video

.onebox.video-onebox,
.video-container {
  background: #000;
}

// GIF

.gif-modal .gif-no-results {
  justify-content: center;
}

// Poll

.poll-ui-builder {
  .poll-options .poll-option-value button {
    margin-bottom: 9px;
  }
  .poll-type .poll-type-value {
    padding: 6px;
  }
}

// Suggested

.suggested-topics {
  .suggested-topics-title {
    font-weight: normal;
  }
  h3 .badge-wrapper.box span {
    display: inline-flex;
  }
}
